/* Reset some default styles */
body, h1, h4, ul, ol {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a font for the entire page */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffa1a1;
    color: #333;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to right, #fff, #f9f9f9);
    border-left: 10px solid #c44646; /* Border berwarna hijau sebagai aksen */
}

/* Header styles */
header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #5a2d0c;
}

/* Main content styling */
main {
    max-width: 800px;
    margin: auto;
    background: #facaca;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Section styling */
section {
    margin-bottom: 20px;
}

h4 {
    font-size: 1.5rem;
    color: #2c3e50;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    background-color: #c44646;
    color: white;
    padding: 5px 0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h5 {
    font-size: 1.3rem;
    color: #2c3e50;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    background-color: #c44646;
    width: 25%;
    color: white;
    padding: 5px 0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* h4 {
    color: #35424a;
    margin-bottom: 10px;
} */

/* Styling untuk daftar bahan-bahan */
ol {
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 1.1em;
    list-style: decimal inside;  /* Gunakan nomor untuk list */
    padding-left: 20px; /* Memberikan jarak pada nomor */
}

/* Styling untuk item list */
li {
    margin-bottom: 12px;
    color: #34495e;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-weight: 500;
}

li:nth-child(even) {
    background-color: #ecf0f1;
}

/* Efek hover pada item list */
li:hover {
    background-color: #e8f8f5;
    border-radius: 8px;
    cursor: pointer;
}

/* List styles */
/* ul, ol {
    margin-left: 20px;
} */

/* Button styles */
button {
    background-color: #c44646;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button a {
    color: white;
    text-decoration: none;
}

button a:hover {
    color: black;
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
}
